body {
  margin: 20px;
}

#root {
  font-family: Consolas, 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2c3e50;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-size: 18px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #666;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  background-color: #ccc;
}
